body {
    background-color: #F5812A;
    align-content: center;
}

header {
    background-color: #FDE407;
}

.info {
    background-color: #42B7DE;
    border: 5px black solid;
    color: #080C0C;
    text-align: center;
}

img {
    max-inline-size: 500px;
    padding: 5px;
    padding-right: 50px;
}

h3 {
    background-color: #F5812A;
    color: #080C0C;
}